:root {
    --ying-color: #eee;
    --yang-color: #222;
}
html {
    font-family: sans-serif;
    font-size: 12px;
    height: 100%;
}
body {
    background-color: var(--ying-color);
    color: var(--yang-color);
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    margin: 0;
}
#view {
}
#panel {
    background-color: var(--yang-color);
    color: var(--ying-color);
}
svg {
    display: block;
    margin: 0 auto;
}
svg g.axis path {
    stroke: rgba(128, 128, 128, 0.2);
    shape-rendering: crispEdges;
}
svg g.axis line {
    stroke: rgba(128, 128, 128, 0.5);
    shape-rendering: crispEdges;
}
svg g.axis text {
    fill: var(--yang-color);
    font-family: sans-serif;
    font-size: 12px;
}
svg circle.point {
    fill: var(--yang-color);
    stroke: var(--ying-color);
}
svg circle.point:hover {
    fill: var(--ying-color);
    stroke: var(--yang-color);
    cursor: pointer;
}
svg path.fit {
    fill: none;
}
table {
    border-collapse: collapse;
}
tr:not(:first-child) {
    border-top: 1px solid rgba(128, 128, 128, 0.2);
}
td {
    padding: 5px;
}
